ENV=local

DATABASE_URL=postgresql+asyncpg://admin:123456@db:5432/mundoinvest

PIPEFY_PIPE_ID=34

PIPEFY_FIELD_ID_NOME_CLIENTE=nome_do_cliente
PIPEFY_FIELD_ID_EMAIL_CLIENTE=email_do_cliente
PIPEFY_FIELD_ID_TIPO_SOLICITACAO=tipo_solicitacao
PIPEFY_FIELD_ID_VALOR_PATRIMONIO=valor_patrimonio
PIPEFY_FIELD_ID_STATUS=status
PIPEFY_FIELD_ID_PRIORIDADE=prioridade

API_KEY=76106710fcc3680c23a50adbef5096b843fb7755a77a85b8f2ea9e85f964e86a